.part {
  padding: .13rem 0;
}
ul {
  overflow: hidden;
  text-align: left;
  padding-left: .41rem;
}
li {
  height: .8rem;
  line-height: .8rem;
  list-style-type: disc;
  list-style-position: inside;
  width: 33%;
  float: left;
  font-size: .35rem;
}
